services:
  ollama:
    image: ollama/ollama:0.12.5
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
    command: ["serve"]
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - driver: nvidia
    #          count: all
    #          capabilities: [ gpu ]
    healthcheck:
      test: ["CMD-SHELL", "ollama ps >/dev/null 2>&1 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 60
      start_period: 30s

  ollama-init:
    image: ollama/ollama:0.12.5
    container_name: ollama-init
    restart: "no"
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      # Pointez vers le service 'ollama'
      - OLLAMA_HOST=http://ollama:11434
    entrypoint: [ "sh","-lc" ]
    command: >
      '
        set -e
        echo "Pull qwen2.5:7b..." &&
        ollama pull qwen2.5:7b &&
        echo "Init OK" 
      '

  app:
    build: .
    container_name: app-java
    restart: unless-stopped
    depends_on:
      ollama-init:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    environment:
      - OLLAMA_HOST=http://ollama:11434

volumes:
  ollama_data: