<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern></encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Désactive le DEBUG de Jetty -->
    <logger name="org.eclipse.jetty" level="WARN"/>
</configuration>
